
*{
  margin: 0;
  
}

.outer {
  background-color: #a7bcff;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;

}

.inner {
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  /* width: 450px;
  margin: auto;
  background: #fff; */
 /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
  /* padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s; */
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  font-weight: bold;
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

label{
  font-weight: 600;
}


.Box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3 {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

